body, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(97, 73, 204);
}

a:hover {
  color: #409EFF;
}

li {
  list-style: none;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}